.btn-primary {
	width: 15rem;
	margin: 0.2rem;
	height: 5rem;
}

.btn-danger {
	width: 15rem;
	margin: 0.2rem;
	height: 5rem;
}

input {
        max-width: 4rem;
        text-align:center;
        display:block;
        margin:0 auto;
 } 